:root {
  --light-vermilion: #f15d51;
  --yellow: #e9aa52;
  --dark-space-blue: #00001a;
  --gunmetal: #5e607a;
  --silver: #c5c6ce;
  --almost-white: #fffdfa;

  --ff: "Inter", sans-serif;
  --fs-heading-xl: 5.6rem;
  --fs-heading-l: 4rem;
  --fs-heading-m: 3.2rem;
  --fs-heading-s: 2rem;
  --fs-heading-xs: 1.8rem;
  --fs-body: 1.5rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--almost-white);
  font-family: var(--ff);
  font-size: var(--fs-body);
  line-height: 1.5;
  color: var(--dark-space-blue);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.overflow-h {
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: min(111rem, 90%);
  margin-inline: auto;
  /* padding: 2.8rem 0; */
}

header {
  padding-top: 2.8rem;
}

.nav {
  padding-bottom: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  cursor: pointer;
  max-width: 4.4rem;
  max-height: 2.8rem;
}

.nav__items {
  display: none;
}

.nav__logo--close {
}

/* side menu related content */
.nav__hamburger {
  cursor: pointer;
  margin-left: auto;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.2s ease-in;
  opacity: 0;
}

.backdrop--show {
  opacity: 1;
  z-index: 2;
}

.side-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--almost-white);
  color: var(--dark-space-blue);
  min-height: 100%;
  width: 25rem;
  padding: 2.7rem 2.4rem;
  transition: all 0.3s ease-in;
  transform: translateX(100%);
  visibility: hidden;
  z-index: 99;
}

.show-menu {
  visibility: initial;
  transform: translateX(0);
}

.side-menu img {
  cursor: pointer;
  margin-left: auto;
}

.side-menu__items {
  list-style: none;
  margin-top: 8rem;
  margin-inline: 3rem;
  font-size: var(--fs-heading-xs);
}

.side-menu__item {
}

.side-menu__item:not(:last-child) {
  margin-bottom: 2.4rem;
}

.main {
  display: grid;
  /* om button voorkomen dat ie stretched */
  justify-items: left;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "main-img"
    "main-title"
    "main-content"
    "aside"
    "article-3"
    "article-2"
    "article-1";
}

.homepage__img {
  grid-area: main-img;
}

.homepage__title {
  grid-area: main-title;
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-heading-l);
  color: var(--dark-space-blue);
  line-height: 1;
  margin: 2.4rem 0 1.6rem 0;
}

.homepage__content {
  grid-area: main-content;
}

.homepage__text {
  color: var(--gunmetal);
  margin-bottom: 2.4rem;
}

.homepage__btn {
  background-color: var(--light-vermilion);
  color: var(--almost-white);
  padding: 1.3rem 3.5rem;
  letter-spacing: 4.38px;
  text-decoration: none;
  cursor: pointer;
}

.homepage__new {
  grid-area: aside;
  margin: 6.4rem 0;
}

.new {
  background-color: var(--dark-space-blue);
  color: var(--almost-white);
  padding: 2.4rem 2rem;
}

.new__title {
  margin-bottom: 3.5rem;
  color: var(--yellow);
}

.new__article {
}

.new__article-title {
  margin-bottom: 0.8rem;
}

.new__article-text {
  color: var(--silver);
}

.new__article hr {
  margin: 3rem 0;
  border: 1px solid #5e607a;
}

.homepage__top-article {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.article--1 {
  grid-area: article-1;
}

.article--2 {
  grid-area: article-2;
}

.article--3 {
  grid-area: article-3;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper span {
  font-size: var(--fs-heading-m);
  color: var(--silver);
  font-weight: var(--fw-bold);
}

.homepage__top-article-img {
  /* test */
  max-width: 10rem;
  max-height: 12.7rem;
}

.homepage__top-article-title {
  font-size: var(--fs-heading-xs);
  font-weight: var(--fw-extra-bold);
}

.homepage__top-article-text {
  color: var(--gunmetal);
}

@media (min-width: 1000px) {
  .nav__logo {
    max-width: 6.4rem;
    max-height: 3.9rem;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__items {
    color: var(--gunmetal);
    display: flex;
    gap: 4rem;
    list-style: none;
  }

  .nav__item:hover {
    cursor: pointer;
    color: var(--light-vermilion);
  }

  .main {
    gap: 3rem;
    grid-template-areas:
      "main-img main-img aside"
      "main-title main-content aside"
      "article-1 article-2 article-3";
  }

  .homepage__title {
    font-size: var(--fs-heading-xl);
    margin: 0;
  }

  .homepage__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .homepage__btn {
    font-size: 1.4rem;
    transition: all 0.2s ease-in;
  }

  .homepage__btn:hover {
    background-color: var(--dark-space-blue);
    color: var(--almost-white);
  }

  .homepage__new {
    margin: 0;
  }

  .new__article-title {
    cursor: pointer;
    font-size: var(--fs-heading-s);
    transition: all 0.2s ease-in;
  }

  .new__article-title:hover {
    color: var(--yellow);
  }

  .homepage__top-article {
    align-items: center;
  }

  .homepage__top-article-title {
    cursor: pointer;
    transition: all 0.2s ease-in;
    padding-block: 0.9rem;
  }

  .homepage__top-article-title:hover {
    color: var(--light-vermilion);
  }
}
/* TODO
  comments weghalen
  alt tags
  css checken voor useless properties
*/
